{
  "presets": [
      "@babel/preset-env",
      "@babel/preset-react"
    ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-class-properties",
    "babel-plugin-dynamic-import-node",
    [
      "module-resolver",
      {
        "root": [
          "apps"
        ]
      }
    ]
  ]
}
